@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh;
  user-select: none;
}

#root {
  background-image: url('https://tailwindcss.com/_next/static/media/hero-dark@90.dba36cdf.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#navbar{
  /* From https://css.glass */
  background: rgba(170, 120, 180, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5.2px);
}

#profileImg{
  box-shadow: 0px 0px 100px 65px rgba(70,25,80,1);
  border: 12px inset rgb(60,15,70);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

b{
  color:#38bdf8;
}

